[Unit]
Description=Prisma Guard Gunicorn Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/prisma-guard
Environment="PATH=/var/www/prisma-guard/.venv/bin"
ExecStart=/var/www/prisma-guard/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 --access-logfile - --error-logfile - wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
